<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Android Broadcast</title>

  <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
        initializeGoogleMap("<%= @latitude %>", "<%= @longitude %>");
        //var loc = "";
        //if (loc) { codeAddress(loc); }
    });
  </script>

</head>
<body>

  <div id="wrap">
      <div id="header">
          <img src="/images/broadcast.jpg" alt="Android Broacast" width=112" height="138" />
          <div id="summary">
              <h1>Broadcasting Android Device Information</h1>
              <ul>
                  <li class="first">
                      <strong>status:</strong> 
                      <code><%= @status %></code>
                  </li>
                  <li>
                      <strong>internal temp:</strong> 
                      <code><%= @temp %>&deg;C</code>
                  </li>
                  <li class="last">
                      <strong>host:</strong>
                      <script type="text/javascript">document.write(location.host);</script>
                  </li>
              </ul>
          </div>
          <div class="clear"></div>
      </div>

      <div class="cactus-bar"></div>
      
      <div id="backtrace" class='condensed' style="height:400px">
          <%= erb :"map.html", :layout => false %>
          <%= erb :"snapshot.html", :layout => false%> 
          <div class="clear"></div>
      </div>
   <small>© 2010 Michael Leone with support from <a href="http://www.panopticdev.com" target="_blank">Panoptic Development, Inc.</a>.</small>
  </div> <!-- /WRAP -->
</body>
</html>

